:root {
  --logo-black-color: #000000;
  --text-color: #212121;
  --background-herofoot-color: #2f303a;
  --link-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --team-background: #f5f4fa;
  --svg-color: #afb1b8;
}
